/*

zenlike1.0 by nodethirtythree design
http://www.nodethirtythree.com

 */

*
{
    padding: 0em;
    margin: 0em;
}

body
{
    background: #000000 url('/static/images/bg1.jpg');
    background-position: 0 251px;
    padding: 3em 0 3em 0;
}

article {
    margin: 1em;
}

body,input
{
    font-size: 10pt;
    font-family: "georgia", "times new roman", serif;
    color: #333333;
}

p
{
    line-height: 1.5em;
    margin-bottom: 1.0em;
    text-align: justify;
}

a
{
    color: #2d92b7;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}


h3 span
{
    font-weight: normal;
}

h3,h4
{
    display: inline;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: right;
}

h3
{
    font-size: 1.7em;
    padding-right: 3em;
    background-image: url('/static/images/db1.png');
}

h4
{
    font-size: 1.2em;
    padding-right: 2em;
    background-image: url('/static/images/db2.png');
}

.contentarea
{
    padding-top: 1.3em;
}

img
{
    border: solid 1px #6F5230;
}

img.left
{
    position: relative;
    float: left;
    margin: 0em 1.8em 1.4em 0em;
}

img.right
{
    position: relative;
    float: right;
    margin: 0em 0em 1.8em 1.8em;
}

.divider1
{
    position: relative;
    background: #fff url('/static/images/border2.png') repeat-x;
    height: 1em;
    margin: 2.0em 0em 1.5em 0em;
    clear: both;
}

.divider2
{
    position: relative;
    height: 1px;
    border-bottom: solid 1px #eaeaea;
    margin: 2.0em 0em 2.0em 0em;
}

.post .details
{
    position: relative;
    top: -1.5em;
    font-size: 0.8em;
    color: #787878;
}

.post ul.controls
{
    clear: both;
}

.post ul.controls li
{
    display: inline;
    font-size: 0.8em;
}

.post ul.controls li a
{
    background-repeat: no-repeat;
    background-position: left;
    padding: 0em 1.0em 0em 2em;
}

.post ul.controls li a.printerfriendly
{
    background-image: url('/static/images/icon-printerfriendly.png');
}

.post ul.controls li a.comments
{
    background-image: url('/static/images/icon-comments.png');
}

.post ul.controls li a.more
{
    background-image: url('/static/images/icon-more.png');
}

.box
{
    position: relative;
    background: #FDFCF6 url('/static/images/boxbg.png') repeat-x;
    left: -1.5em;
    top: -1.5em;
    padding: 1.5em;
    border-bottom: solid 1px #E1D2BD;
    margin-bottom: 1.0em;
}

ul.linklist
{
    list-style: none;
}

ul.linklist li
{
    line-height: 2.0em;
}

#upbg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 251px;
    background: #fff url('/static/images/bg2.jpg') repeat-x;
    z-index: 1;
}

#outer
{
    z-index: 2;
    position: relative;
    width: 90%;
    max-width: 1024px;
    border: solid 0.5em #fff;
    background-color: #fff;
    margin: 0 auto;
}

#header
{
    position: relative;
    width: 100%;
    height: 9.0em;
    background: #2B2B2B url('/static/images/topbg.png') repeat-x;
    margin-bottom: 2px;
}

#headercontent
{
    position: absolute;
    bottom: 0em;
    padding: 0em 2.0em 1.3em 2.0em;
}

#headercontent h1
{
    font-weight: normal;
    color: #fff;
    font-size: 2.5em;
}

#headercontent h1 sup
{
    color: #777;
}

#headercontent h2
{
    font-size: 1.0em;
    font-weight: normal;
    color: #aaa;
}

#headerpic
{
    position: relative;
    height: 109px;
    background: #fff url('/static/images/hdrpic.jpg') no-repeat top left;
    margin-bottom: 2px;
}

#menu
{
    position: relative;
    background: #226D89 url('/static/images/menubg.png') repeat-x top left;
    height: 3.5em;
    padding: 0em 1.0em 0em 1.0em;
    margin-bottom: 2px;
}

#menu ul
{
    position: absolute;
    top: 1.1em;
}

#menu ul li
{
    position: relative;
    display: inline;
}

#menu ul li a
{
    padding: 0.5em 1.0em 0.9em 1.0em;
    color: #fff;
    text-decoration: none;
}

#menu ul li a:hover
{
    text-decoration: underline;
}

#menu ul li a.active
{
    background: #226D89  url('/static/images/menuactive.png') repeat-x top left;
}

#menubottom
{
    background: #fff url('/static/images/border1.png') repeat-x;
    height: 14px;
    margin-bottom: 1.5em;
}

#content
{
    padding: 0em 2.0em 0em 2.0em;
}

#primarycontainer
{
    float: left;
    margin-right: -18.0em;
    width: 100%;
}

#primarycontent
{
    margin: 1.5em 22.0em 0em 0em;
}

#secondarycontent
{
    margin-top: 1.5em;
    float: right;
    width: 18.0em;
}

#footer
{
    position: relative;
    height: 2.0em;
    clear: both;
    padding-top: 5.0em;
    background: #fff url('/static/images/border2.png') repeat-x 0em 2.5em;
    font-size: 0.8em;
}

#footer .left
{
    position: absolute;
    left: 2.0em;
    bottom: 1.2em;
}

#footer .right
{
    position: absolute;
    right: 2.0em;
    bottom: 1.2em;
}
