{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
      {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tnttilecreations.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <div id="upbg"></div>
    <div id="outer">
      {% with root=request.site.root_page %}
      <header>
        <div id="header">
          <div id="headercontent">
            <h1><a href="{% pageurl root %}">{{ root }}</a></h1>
            <h2>Independent Colorado Springs tile contractors</h2>
          </div>
        </div>
        <div id="headerpic"></div>
        <nav id="menu">
          <ul>
            {% for child in root.get_children.specific %}
            <li><a 
             {% if page == child %}class="active"{% endif %}
             href="{% pageurl child %}">{{ child }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <div id="menubottom"></div>
      </header>
      {% endwith %}

      <article id="normalcontent">
        {% block content %}{% endblock %}
      </article>

      <footer id="footer">
        <small class="left">© 2020 TNT Tile Creations.  Site developed by Taylor C. Richberger.  The code that runs this site is <a href="https://gitlab.com/Taywee/tnttilecreations">free and open source software</a>.</small>
        <small class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></small>
      </footer>

      {# Global javascript #}
      <script type="text/javascript" src="{% static 'js/tnttilecreations.js' %}"></script>

      {% block extra_js %}
      {# Override this in templates to add extra javascript #}
      {% endblock %}
  </body>
</html>
