{% extends "tnttilecreations/base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}section{% endblock %}

{% block content %}
    <header><h1>{{ page.title }}</h1></header>

    {{ page.body|richtext }}
{% endblock %}
